:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: hidden;
}
  
p {
    margin-bottom: 0;
    padding: 0.5vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}  

img {
    padding-right: 1rem;
}

/* HEADER */
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.nav-link{
    display:block;
    padding:1rem;
    font-size:20px;
    color:var(--navbar-color);  
    transition: all .2s ease;
    font-family: Roboto, sans-serif;
    border-radius: 15px;
}

.nav-link:hover{
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 15px;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 1150px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        width: 100%;
        height:100vh;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index:3;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 1.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
    

/* MAIN */
main {
    font-size: 130%;
    font-weight: bold;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
}

/* fenêtre modale */
@keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
}

.bground {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}
  
.content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #232323;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding-top: 10px;
}
  
.modal-body {
    display: block;
    padding: 15px 8%;
    margin: 15px auto;
}
  
.modal-body-confirm {
    display: none;
    text-align: center;
    padding: 15px 8%;
    margin: 15px auto;
    display: flex;
    height: 70vh;
    flex-direction: column;
}

.modal-body-confirm h3{
    position: relative;
    font-weight: 300;
    top: 30%;
}

.modal-btn {
    font-size: 145%;
    background: #fe142f;
    display: flex;
    margin: auto;
    padding: 2em;
    color: #fff;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
  
.modal-btn:hover {
    background: #3876ac;
}
  
@media only screen and (max-width: 1150px) {
    .modal-body-confirm {
        height: 100vh;
    }
}

/* Modal form */
label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
}

input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}

.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}

.formData {
    margin-bottom: 15px;
}
  
.msg_error {
    font-size: 13px;
    color: red;
    position: relative;
    top: -2px;
    display: inline-block;
}

#error6 {
    position: relative;
    top: -2px;
}

#error7 {
    position: relative;
    top: -2px;
}

.checkbox-label,
.checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
}

.checkbox-input {
    display: none;  
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
    opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
    background: #279e7a;
}

.checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 3px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.close-confirm {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
    position: relative;
    top: 70%;
}

.btn-submit,
.btn-signup {
    background: #fe142f;
    display: block;
    margin: 0 auto;
    border-radius: 7px;
    font-size: 1rem;
    padding: 12px 82px;
    color: #fff;
    cursor: pointer;
    border: 0;
}

.custom-select {
    position: relative;
    font-family: Arial;
    font-size: 1.1rem;
    font-weight: normal;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #fff;
}
  
.select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 13px;
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-bottom-color: #f00;
    border-left-color: #f00;
    transform: rotate(-48deg);
    border-radius: 5px 0 5px 0;
}

.select-selected.select-arrow-active:after {
    transform: rotate(135deg);
    top: 13px;
}
  
.select-items div,
.select-selected {
    color: #000;
    padding: 11px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 8px;
    height: 48px;
}

.select-items {
    position: absolute;
    background-color: #fff;
    top: 89%;
    left: 0;
    right: 0;
    z-index: 99;
}
  
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.text-label {
    font-weight: normal;
    font-size: 16px;
    padding: 0.5vw 0 0 0;
}

.location_form {
    margin-bottom:0;
}

.checkbox2-label {
    margin-top:20px;
}


/* Hero */
.hero-section {
    min-height: 70vh;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.hero-content {
    padding: 51px 67px;
    grid-column: span 4;
    background: #232323;
    color: #fff;
    position: relative;
    text-align: left;
    min-width: 300px;
}

.hero-content::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #232323;
    position: absolute;
    right: -80px;
    top: 0;
}

.hero-content > * {
    position: relative;
    z-index: 1;
}

.hero-headline {
    font-size: 5rem;
    font-weight: normal;
    white-space: nowrap;
}

.hero-text {
    width: 146%;
    font-weight: normal;
    margin-top: 57px;
    padding: 0;
    z-index:1;
}
.btn-signup {
    outline: none;
    font-size: 1.3rem;
    padding: 15px 23px;
    margin: 0;
    margin-top: 59px;
}

.hero-img {
    grid-column: span 8;
}

.hero-img img {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
}

.hero-section > .btn-signup {
    display: none;
}

@media screen and (max-width: 1150px) {
    .hero-section {
        display: block;
        box-shadow: unset;
    }
    .hero-content {
        background: #fff;
        color: #000;
        padding: 10px;
    }
    .hero-content::after {
        content: unset;
    }
    .hero-content .btn-signup {
        display: none;
    }
    .hero-headline {
        font-size: 3.7rem;
        white-space: normal;
        line-height:4.5rem;
    }
    .hero-text {
        width: unset;
        font-size: 1.5rem;
    }
    .hero-img img {
        border-radius: 10px;
        margin-top: 40px;
    }
    .hero-section > .btn-signup {
        display: block;
        margin: 32px auto 10px;
        padding: 12px 35px;
    }
}
  

/* FOOTER */
footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
}

.copyrights {
    color: #fe142f;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
}

@media screen and (max-width: 1150px) {
    .copyrights {
        margin-top: 50px;
        text-align: center;
    }
}
